{{define "content"}}
<div class="wrapper">
    <form class="login-form" method="POST">

        <div class="logo-wrapper">
            <a href="/"><img class="logo" src="/assets/logo.png" alt="Guard"></a>
            <h2>Edit your password</h2>
        </div>

        {{ if .updated }}
        <div class="notif-wrapper">
                <p>Password has been updated.</p>
        </div>
        {{ end }}

        <div class="input-wrapper">
                <input type="password" name="old" placeholder="Current password" autofocus="">
        </div>

        <div class="input-wrapper">
                <input type="password" name="new" id="new_pwd" placeholder="New password">
        </div>

        <div class="input-wrapper">
                <input type="password" placeholder="New password, again" id="new_pwd2" oninput="checkMatch()">
        </div>
        
        <div class="login-wrapper">
            <button>Change</button>
        </div>

    </form>
</div>

<script type="text/javascript">
        function checkMatch() {
            let pwd = document.querySelector("#new_pwd");
            let pwd2 = document.querySelector("#new_pwd2");

            if(pwd.value !== pwd2.value) {
                pwd2.classList.add('input-error');
            } else {
                pwd2.classList.remove('input-error');
            }
        }
</script>
{{end}}
